body{
    background-color: #F75D59;
    background-repeat: no-repeat;
}

table{
    text-align: center;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: bisque;
    
}

.slicica{
    height: 150px;
    width: auto;
    border-radius: 10px;
}
tr, td{
    padding:10px;
}

.logo{
    height: 30px;
    width: auto;
}

p{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}

