*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--boja1);
}


:root{
    --boja1: rgb(23, 46, 78);
    --boja2: rgb(255, 255, 255);
    --boja3: rgb(0, 0, 0);
    --boja4: rgb(181, 140, 81);
    
}

#header{
    width: 100%;
    text-align: center;
    background-color: var(--boja1);
    color: var(--boja4);
    height: 42px;
    padding-top: 15px;
}

#slika_logoa{
    
    width: 300px;
    height: 250px;
    margin: auto;
    
    
}



#meni{
    text-align: center;
    background-color: var(--boja1);
    height: 250 px;
}

#lista{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-top:70px;
    margin: auto;
    padding-top:30px;
    
}

li{
    width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
  margin: auto;
  
}
a {
    font-size: 22px;
    color: VAR(--boja4);
    text-decoration: none;
    transition: all 0.45s;
  }
ul{
    
    list-style-type: none;
    text-align: center;
    margin: auto;
    padding-top: 50px;
}

li:hover{
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    animation: line 1s;
    
}

li:hover a{
    color: #d94f5c;
}

  .container {
    background-image: url("../slike/123.jpg");
    background-repeat: no-repeat;
    
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  
  #h1_tekst {
    font-size: 80px;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 600ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.6rem;
    color: var(--boja4);
    outline: none;
    text-align: center;
    
  }

  
  
  #h1_tekst:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  
  #paragraf1 {
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: MintCream;
    letter-spacing: .5px;
  }
   

  #saradnici{
    text-align: center;
   
    border-collapse: collapse;
    color:var(--boja4);
    flex-wrap: wrap;
   

  }

  .slike1 {
    height: 150px;
    width: 250px;
    
  }

  .h1_saradnici{
    padding-bottom: 10px;
  }

  .tekst_o_nama{
    box-sizing: border-box;
    margin: 0;
    padding: 32px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}





.hr_tekst_o_nama{
    width:50px;
    border: none;
}

.kont{
    
        width: 90%;
        margin: 12px auto;
        padding: 25px;
        text-align: justify;
        transition: all 0.3s;
        color:var(--boja4);
        
}



.kont p:first-child::first-letter{
    color:var(--boja2);
    font-weight: bold;
    font-size: 100px;
    float: left;
    line-height: 60px;
    padding-right: 8px;
    margin-top: -3px;
}

#nas_tim{
    text-align: center;
    height: 50px;
    background-color: var(--boja4);
    padding-top: 20px;
    margin-bottom: 50px;
    color: var(--boja1);
}

#advokati{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items: center;
   
    background-color: var(--boja1);
    font-family: sans-serif;
}




.box{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
  }
  .card{
    position: relative;
    width: 300px;
    height: 350px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
  }
  .card:before, .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
  }
  
  .card:hover .imgBx
  {
    bottom: 80px;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }

  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #777;
   text-transform: uppercase;
  } 

  .card .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
   } 


  

@keyframes line {
    0% {
      background-position-x: 550px;
    }
  }



@media only screen and (max-width:700px){
    [class="col-"]{
        width:100%;
    }
}
@media only screen and (min-width:701) and (max-width:1000px){
    [class="col-t-"]{
        float:left;
    }
    .col-t-1{
        width: 8.33%;
    }
    .col-t-2{
        width: 16.66%;
    }
    .col-t-3{
        width: 25%;
    }
    .col-t-4 {
        width: 33.33%;
    }
    .col-t-5 {
        width: 41.66%;
    }
    .col-t-6 {
        width: 50%;
    }
    .col-t-7 {
        width: 58.33%;
    }
    .col-t-8 {
        width: 66.66%;
    }
    .col-t-9 {
        width: 75%;
    }
    .col-t-10 {
        width: 83.33%;
    }
    .col-t-11 {
        width: 91.66%;
    }
    .col-t-12 {
        width: 100%;
    }
}
@media only screen and (min-width:1001px) {
    [class*="col-"]{
        float:left;
    }
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.33%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}